@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #e0e0e0;
  
  --card: #14141d;
  --card-foreground: #f5e6c8;
  
  --primary: #d4af37;
  --primary-foreground: #000000;
  
  --secondary: #6e0000;
  --secondary-foreground: #ffffff;
  
  --muted: #1a1a1a;
  --muted-foreground: #a3a3a3;
  
  --border: #333333;
  --input: #1a1a1a;
  --ring: #d4af37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Scrollbar Hide Utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
